.info-card{
    background: rgb(255, 255, 255);
    color: rgb(158, 158, 158);
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.1) !important;
}

.card{
    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid rgba(0,0,255,0.5);
}

.recovered{
    border-bottom: 10px solid rgba(0,255,0,0.5);
}

.deaths{
    border-bottom: 10px solid rgba(255,0,0,0.5);
}